<template>
<div>
  <v-card
      style="border: 1px solid #dee0df"
      elevation="0" outlined  draggable="true" class="mb-2">
    <v-card-title class="d-flex flex-column align-start">
      <div class="d-flex flex-row flex-nowrap">
        <v-icon small class="mr-2">{{item.icon}}</v-icon>
        <div class="text-truncate font-weight-bold" style="font-size: 1.2rem">{{item.todo}}</div>
      </div>
      <div>
        <v-chip v-for="(tag, index) in item.tag" :key="index" :color="tag.color" x-small label class="mr-2">{{tag.type}}</v-chip>
      </div>

    </v-card-title>
    <v-card-text class="d-flex flex-row justify-space-between align-center">
      <v-avatar size="28">
        <v-img :src="require(`@/assets/avatars/${imageAddress}`)"></v-img>
      </v-avatar>
      <div class="d-flex flex-row align-center">
        <span class="text-body-1 font-weight-bold px-1">2</span>
        <v-icon small>mdi-source-branch</v-icon>
        <v-icon small>mdi-play</v-icon>
      </div>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";
@Component
export default class TodoItem extends Vue {
  @Prop()
  item!:any;
  get imageAddress(): string | null {
    return this.item.img
  }
}
</script>

<style scoped>

</style>
