<template>
<div>
  <v-card-title class="d-flex justify-space-between">
    <div>{{ListTitle}}</div>
    <div>
      <v-icon small class="mr-2">mdi-plus-circle-outline</v-icon>
      <v-icon small>mdi-dots-horizontal</v-icon>
    </div>
  </v-card-title>
  <v-card-text>
    <slot></slot>
  </v-card-text>
  <v-card-text class="pt-0">
    <v-btn
        style="background-color:#f9f9f9; border: 1px dashed gray"
        block
        outlined
        plain
        text
    ><v-icon small class="pr-2">mdi-plus-circle-outline</v-icon>Add Task</v-btn>
  </v-card-text>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";
import TodoItem from "@/components/Board/TodoItem.vue";
@Component({
  components: {TodoItem}
})
export default class TodoList extends Vue {
  @Prop()
  ListTitle!:string;
}
</script>

<style scoped>

</style>
