<template>
<div>
  <div class="d-flex flex-column align-start">
    <v-chip  label x-small class="mb-2 font-weight-bold">{{criteria}}</v-chip>
    <v-chip x-small :color="valueColor" class="mb-2" label :text-color="textColor">{{criteriaValue}}</v-chip>
  </div>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";

@Component
export default class ActivityCriteria extends Vue {
  @Prop()
  criteria!:string;
  @Prop()
  valueColor!:string;
  @Prop()
  criteriaValue!:string;
  @Prop()
  textColor!:string;
}
</script>

<style scoped>

</style>
