<template>
<div>
  <v-card elevation="0" outlined>
    <v-card-title>Team hours by activities</v-card-title>
    <v-card-text class="align-center">
      <v-row>
        <v-col cols="6" md="4" style="max-width: 23.5%" class="d-flex align-center pa-0">
            <canvas id="doughnutChart" width="20px" height="20px"></canvas>
        </v-col>
        <v-col cols="6" md="8" class="pb-0 d-flex align-center">
          <v-row>
            <v-col cols="6" md="4">
              <ActivityCriteria criteria="Development" criteria-value="24%" value-color="#6CB450" text-color="white"></ActivityCriteria>
              <ActivityCriteria criteria="Research" criteria-value="17%" value-color="#5E5496" text-color="white"></ActivityCriteria>
            </v-col>
            <v-col cols="6" md="4">
              <ActivityCriteria criteria="Team Meeting" criteria-value="17%" value-color="#D0495D" text-color="white"></ActivityCriteria>
              <ActivityCriteria criteria="Activities" criteria-value="17%" value-color="#EDB10C" text-color="white"></ActivityCriteria>
            </v-col>
            <v-col cols="6" md="4">
              <ActivityCriteria criteria="Playing Games" criteria-value="17%" value-color="#858585" text-color="white"></ActivityCriteria>
              <ActivityCriteria criteria="Listening Music" criteria-value="8%" value-color="#F3F3FC" text-color="gray"></ActivityCriteria>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {ChartType} from "chart.js";
import Chart from 'chart.js/auto';
import ActivityCriteria from "@/components/myTasks/TeamActivity/ActivityCriteria.vue";
@Component({
  components: {ActivityCriteria}
})
export default class TeamActivity extends Vue {
  createChartData() {
    const canvas = document.getElementById('doughnutChart') as HTMLCanvasElement;
    const config = {
      type: 'doughnut' as ChartType,
      data: {
        // labels: ['Development', 'Research', 'Team Meeting', 'Activities', 'Playing Games', 'Listening Music'],
        datasets: [{
          data: [24, 17, 17, 17, 17, 8],
          borderWidth: 1,
          cutout: '80%',
          offset:-10,
          borderJoinStyle:'round',
          borderRadius: {
            innerStart:30,
            outerStart:30,
          },
          backgroundColor: [
            '#6CB450',
            '#5E5496',
            '#D0495D',
            '#EDB10C',
            '#858585',
            '#F3F3FC',
          ],
          hoverOffset: 2,
        }]
      },
      options: {
        scales: {
          y: {
            ticks:{
              display: false,
            },
            grid:{
              display: false,
              borderWidth:0 ,
            },
            beginAtZero: true,
          },
          x: {
            grid:{
              display: false,
              borderWidth: 0,
            },

          },
        }
      }
    }
    new Chart(canvas , config);
  }
  mounted() {
    this.createChartData();
  }
}
</script>

<style scoped>

</style>
