<template>
  <div>
    <div class="d-flex justify-space-between align-center my-3" style="border: 1px solid #dee0df; border-radius: 5px; height: 30px">
      <div  class="px-2" style="font-size: 1.3rem">
        Created Yesterday
      </div>
      <div>
        <v-tabs height="28px" slider-size="1">
          <v-tab class="px-0"><v-icon small class="pr-1">mdi-check-circle-outline</v-icon>All Tasks</v-tab>
          <v-tab class="px-0"><v-icon small class="pr-1">mdi-filter-variant</v-icon>Filter</v-tab>
          <v-tab class="px-0"><v-icon small class="pr-1">mdi-sort</v-icon>Sort</v-tab>
          <v-tab class="px-0"><v-icon small class="pr-1">mdi-shape-outline</v-icon>Customize</v-tab>
          <v-tab class="px-0">...</v-tab>
        </v-tabs>
      </div>
    </div>
    <v-row>
      <v-col cols="12" md="3" class="pa-1">
        <todo-list list-title="To Do">
          <draggable v-model="todos" group="todoConversion">
            <TodoItem v-for="todo in todos" :key="todo.id" :item="todo">
            </TodoItem>
          </draggable>
        </todo-list>
      </v-col>
      <v-col cols="12" md="3" class="pa-1">
        <TodoList list-title="Doing">
          <draggable v-model="doing" group="todoConversion">
            <TodoItem v-for="todo in doing" :key="todo.id" :item="todo">
            </TodoItem>
          </draggable>
        </TodoList>
      </v-col>
      <v-col cols="12" md="3" class="pa-1">
        <TodoList list-title="Done">
          <draggable v-model="done" group="todoConversion">
            <TodoItem v-for="todo in done" :key="todo.id" :item="todo">
            </TodoItem>
          </draggable>
        </TodoList>
      </v-col>
      <v-col cols="12" md="3" class="pa-1"><TodoList list-title="Untitled"></TodoList></v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TodoList from "@/components/Board/TodoList.vue";
import TodoItem from "@/components/Board/TodoItem.vue";
import draggable from  "vuedraggable";
import Home from "@/views/Home.vue";
@Component({
  components: {TodoList, TodoItem, draggable, Home}
})
export default class Board extends Vue {
  todos:Array<object> = [{
    id: 1,
    icon: 'mdi-timer-sand',
    todo: 'Contact client for outline',
    img: "1-modified.png",
    tag:[],
  },
    {
      id: 2,
      icon: 'mdi-checkbox-marked-circle-outline',
      todo: 'Contact client for outline',
      img: "2-modified.png",
      tag: [],
    },
    {
      id: 3,
      icon: 'mdi-checkbox-marked-circle-outline',
      todo: 'Contact client for outline',
      img: "3-modified.png",
      tag: [],
    }
  ];
  doing:Array<object> = [{
    id: 4,
    icon: 'mdi-checkbox-marked-circle-outline',
    todo: 'Hold introductory meting',
    img: "3-modified.png",
    tag: [
      {type: "Medium",
        color: "orange"},
      {type: "At Risk",
        color: "yellow"}
    ],
  },
    {
      id: 5,
      icon: 'mdi-checkbox-marked-circle-outline',
      todo: 'Set final deadline',
      img: "2-modified.png",
      tag: [
        {type: "High",
          color: "todoChipPurple"},
        {type: "Off Track",
          color: "lightPink"}
      ],
    },
    {
      id: 6,
      icon: 'mdi-checkbox-marked-circle-outline',
      todo: 'Determine project goal',
      img: "1-modified.png",
      tag: [
        {type: "Low",
          color: "todoChipBlue"},
        {type: "On Track",
          color: "todoChipGreen"}
      ],
    },
  ];
  done:Array<object> = [{
    id: 7,
    icon: 'mdi-checkbox-marked-circle-outline',
    todo: 'Determine project goal',
    img: "1-modified.png",
    tag: [
      {type: "Low",
      color: "todoChipBlue"},
      {type: "On Track",
        color: "todoChipGreen"}
        ],
  },
    {
      id: 8,
      icon: 'mdi-checkbox-marked-circle-outline',
      todo: 'Hold introductory meeting',
      img: "3-modified.png",
      tag: [
        {type: "Medium",
          color: "orange"},
        {type: "At Risk",
          color: "yellow"}
      ],
    },
  ];
}
</script>

<style scoped>

</style>
