<template>
  <div class="mt-4">
    <v-row dense>
      <taskCategory task-title="Completed Tasks" task-num="100" filter-color="chipBlue"></taskCategory>
      <taskCategory task-title="Incomplete Tasks" task-num="18" filter-color="chipPurple"></taskCategory>
      <taskCategory task-title="Overdue Tasks" task-num="4" filter-color="chipGreen"></taskCategory>
      <taskCategory task-title="Total Tasks" task-num="118" filter-color="white"></taskCategory>
    </v-row>
    <v-row class="align-center align-content-stretch" dense>
      <v-col cols="12" md="6">
        <IncompleteTasksAnalysis></IncompleteTasksAnalysis>
      </v-col>
      <v-col cols="12" md="6">
        <TasksByCompletion></TasksByCompletion>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col cols="12" md="6">
        <UpcomingbyAssignee></UpcomingbyAssignee>
      </v-col>
      <v-col cols="12" md="6">
        <TaskCompletionOverTime></TaskCompletionOverTime>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskCategory from "@/components/Dashboard/taskCategory.vue";
import IncompleteTasksAnalysis from "@/components/Dashboard/IncompleteTasksAnalysis.vue";
import TasksByCompletion from "@/components/Dashboard/TasksByCompletion.vue";
import UpcomingbyAssignee from "@/components/Dashboard/UpcomingbyAssignee.vue";
import TaskCompletionOverTime from "@/components/Dashboard/TaskCompletionOverTime.vue";
import TaskSummaries from "@/components/myTasks/TaskSummary/TaskSummaries.vue";
import Home from "@/views/Home.vue";
@Component({
  components: {
    Home,
    TaskSummaries,
    TaskCompletionOverTime, UpcomingbyAssignee, TasksByCompletion, IncompleteTasksAnalysis, TaskCategory}
})
export default class Dashboard extends Vue {
}
</script>
<style scoped></style>
