<template>
  <div>
      <template>
        <v-card elevation="0" class="d-flex justify-space-between align-center px-1" outlined style="height: 40px; border: 1px solid #d6cccc" color="#f9f9f9">
          <div>
            <v-tabs v-model="tab" height="38px" slider-size="2" slider-color="rgb(101, 88, 249)" background-color="#f9f9f9">
              <v-tab v-for="item in items" :key="item.tab" style="text-transform: capitalize!important;" class="text-body-1">
                {{ item.tab }}
              </v-tab>
            </v-tabs>
          </div>
          <v-btn elevation="0" class="mx-2 d-flex" color="rgb(101, 88, 249)" height="30px">
            <v-icon color="white" small> mdi-plus</v-icon>
            <span class="text-body-1" style="color: white; text-transform: capitalize;">Add Chart</span>
          </v-btn>
        </v-card>
        <v-tabs-items v-model="tab">
          <v-tab-item v-for="item in items" :key="item.tab">
            <component v-bind:is="item.content"></component>
          </v-tab-item>
        </v-tabs-items>
      </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Board from "@/components/main/Board.vue";
import Dashboard from "@/components/main/Dashboard.vue";
@Component({
  components: {
    Board,Dashboard,
  }
})
export default class Home extends Vue {
  tab =  5;
  items: Array<object> = [
    {tab: 'Overview'},
    {tab: 'List'},
    {tab: 'Board', content: 'Board'},
    {tab: 'Timeline'},
    {tab: 'Calendar'},
    {tab: 'Dashboard', content: 'Dashboard'},
    {tab: 'More...'},
  ];
}
</script>
<style scoped>
.v-tab--active{
  color: rgb(101, 88, 249)!important;
}
</style>
