<template>
  <div>
    <TaskSummaries></TaskSummaries>
    <v-row>
      <v-col cols="12" md="5">
      <MyCalendar></MyCalendar>
      <MyProjects></MyProjects>
      </v-col>
      <v-col cols="12" md="7">
        <v-row>
          <v-col cols="12" md="6">
            <MyTasks></MyTasks>
          </v-col>
          <v-col cols="12" md="6">
            <Opportunities></Opportunities>
          </v-col>
        </v-row>
        <team-hours></team-hours>
        <team-activity></team-activity>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProgressManagement from "@/components/myTasks/TaskSummary/TaskSummary.vue";
import MyCalendar from "@/components/myTasks/myCalendar/MyCalendar.vue";
import MyProjects from "@/components/myTasks/myProjects/MyProjects.vue";
import MyTasks from "@/components/myTasks/myTasksComp/MyTasks.vue";
import Opportunities from "@/components/myTasks/Opportunities/Opportunities.vue";
import TeamHours from "@/components/myTasks/teamHours/teamHours.vue";
import TeamActivity from "@/components/myTasks/TeamActivity/TeamActivity.vue";
import TaskSummaries from "@/components/myTasks/TaskSummary/TaskSummaries.vue";
@Component({
  components: {
    TaskSummaries,
    TeamActivity, TeamHours, Opportunities, MyTasks, MyProjects, MyCalendar, ProgressManagement}
})
export default class Tasks extends Vue {

}

</script>

<style scoped>

</style>
