<template>
<div>
  <v-card class="d-flex flex-column" elevation="0" outlined>
    <v-card-title>Opportunities</v-card-title>
    <v-card-text>
      <Opportunity opp-title="Luminous Group" opp-sub="Project meeting" opp-date="8thJan2021" opp-fee="$1,51,000"></Opportunity>
      <v-divider class="my-1"></v-divider>
      <Opportunity opp-title="Concept LLC" opp-sub="Project Final Stage" opp-date="8thJan2021" opp-fee="$1,51,000"></Opportunity>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Opportunity from "@/components/myTasks/Opportunities/Opportunity.vue";
@Component({
  components: {Opportunity}
})
export default class Opportunities extends Vue {

}
</script>

<style scoped>

</style>
