<template>
<div>
  <v-card-text>
    <v-row class="justify-space-between">
      <div class="d-flex flex-column align-start">
        <div class="text-body-1 font-weight-bold black--text">{{oppTitle}}</div>
        <div class="d-flex flex-row align-center">
          <v-icon class="success--text" small>mdi-lightning-bolt</v-icon>
          <div class="text-subtitle-1 font-weight-medium">{{oppSub}}</div>
        </div>
        <v-chip x-small label>{{oppDate}}</v-chip>
      </div>
      <div class="text-body-1 font-weight-bold black--text">{{oppFee}}</div>
    </v-row>
  </v-card-text>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";

@Component
export default class Opportunity extends Vue {
@Prop()
  oppTitle!:string;
  @Prop()
  oppSub!:string;
  @Prop()
  oppDate!:string;
  @Prop()
  oppFee!:string;
}
</script>

<style scoped>

</style>
