<template>
  <v-app-bar app  color="white" elevation="0">
    <div class="d-flex justify-space-between" style="width: 100%">
      <div>
        <div class="d-flex align-center">
          <v-btn class="mx-2 pa-0 rounded-lg" color="#6558f9" x-small width="40px" height="40px" elevation="0">
<!--            @click.stop="drawer = !drawer"-->
            <v-icon color="white">mdi-menu</v-icon>
          </v-btn>
          <div>
            <div class="d-flex align-baseline">
              <v-card-title class="px-2 pb-0 text-h5 font-weight-bold">Customer Stories - Q4</v-card-title>
              <v-icon small>mdi-chevron-down</v-icon>
              <v-icon small class="px-2">mdi-information-outline</v-icon>
              <v-icon class="indigo--text accent-2" small>mdi-star</v-icon>
            </div>
            <div class="d-flex">
              <v-icon class="success--text mt-n4">mdi-square-medium</v-icon>
              <p class="text-caption font-weight-medium ">On Track</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-center">
<!--        start list of users-->
        <div class="mr-3" style="position: relative; right: 35px; bottom: 13px;">
          <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 52px;"><img :src="require('@/assets/avatars/1-modified.png')" alt="user-b"></v-avatar>
          <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 32px;"><img :src="require('@/assets/avatars/2-modified.png')" alt="user-c"></v-avatar>
          <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 12px;"><img :src="require('@/assets/avatars/3-modified.png')" alt="user-d"></v-avatar>
          <v-avatar size="28" style="border: 1px solid white; position: absolute;right: -8px"><img :src="require('@/assets/avatars/4-modified.png')" alt="user-e"></v-avatar>
          <v-menu
              bottom
              offset-y
              open-on-hover
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  style="position: absolute;top: -9px;right: -35px;"
              >
                <v-avatar size="28" style="border: 2px solid white!important;" class="font-weight-bold white--text" color="primary">+5</v-avatar>
              </v-btn>
            </template>

            <v-list max-height="190px" rounded dense class="overflow-y-hidden overflow-x-hidden" max-width="50px">
              <v-list-item class="d-flex flex-column">
                <v-list-item-title class="ma-1"><v-avatar size="28"><img :src="require('@/assets/avatars/1-modified.png')" alt=""></v-avatar></v-list-item-title>
                <v-list-item-title class="ma-1"><v-avatar size="28"><img :src="require('@/assets/avatars/2-modified.png')" alt=""></v-avatar></v-list-item-title>
                <v-list-item-title class="ma-1"><v-avatar size="28"><img :src="require('@/assets/avatars/3-modified.png')" alt=""></v-avatar></v-list-item-title>
                <v-list-item-title class="ma-1"><v-avatar size="28"><img :src="require('@/assets/avatars/4-modified.png')" alt=""></v-avatar></v-list-item-title>
                <v-list-item-title class="ma-1"><v-avatar size="28"><img :src="require('@/assets/avatars/2-modified.png')" alt=""></v-avatar></v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
<!--        end list of users-->
        <v-btn outlined small>
          <v-icon class="mr-2" small>mdi-export-variant</v-icon>
          <span>Share</span>
        </v-btn>
        <v-text-field
              hide-details
              outlined
              label="Search"
              prepend-inner-icon="mdi-magnify"
              class="ml-10 text-body-1"
              dense
              style="min-height: 1px!important;"
          >
        </v-text-field>
        <v-btn class="mx-4 pa-0 gradient" x-small width="35px" height="35px" elevation="0">
          <v-icon color="white">mdi-plus</v-icon>
        </v-btn>
        <v-avatar size="36"><img :src="require('@/assets/avatars/1-modified.png')" alt="user-b"></v-avatar>
      </div>
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import {Component,Prop, Vue} from "vue-property-decorator";

@Component
export default class appbar extends Vue {
  // @Prop()
  // items = [
  //   { src: '@/assets/avatars/1-modified.png'},
  //   { src: '@/assets/avatars/1-modified.png' },
  //   { src: '@/assets/avatars/1-modified.png' },
  //   { src: '@/assets/avatars/1-modified.png' },
  // ];
}
</script>

<style scoped>
.gradient {
  background-image: linear-gradient(to top right, red, yellow);
}
</style>
