<template>
  <v-navigation-drawer
      absolute
      v-model="drawer"
      class="align-center"
      :width="240"
      fixed
      app
  >
    <v-list-item-title class="d-flex justify-space-between">
      <v-list-item-icon>
        <v-img
            :src="require('@/assets/logo.png')"
            max-height="300"
            max-width="76">
        </v-img>
      </v-list-item-icon>
      <v-icon class="pr-4">mdi-menu</v-icon>
    </v-list-item-title>
    <v-list>
      <v-list-item-group v-model="route" color="primary">
        <template v-for="(route, i) in Routers">
          <router-link
              class="text-decoration-none"
              :to="{ name: route.name }"
              :key="i"
          >
            <v-list-item style="position: relative; top: -10px" dense :value="route.name" class="align-center">
              <v-list-item-icon class="ma-2">
                <v-icon>{{route.meta.icon}}</v-icon>
              </v-list-item-icon>
              <v-list-item-title class="text-body-1">{{ route.name }}</v-list-item-title>
            </v-list-item>
          </router-link>
        </template>
      </v-list-item-group>
      <v-list-item-group class="py-0">
          <v-subheader class="text-subtitle-2" style="position: relative; top: -15px">Reporting</v-subheader>
        <div style="position: relative; top: -20px">
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon>mdi-chart-box-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title  class="text-body-1">Portfolios</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon>mdi-plus</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Goals</v-list-item-title>
          </v-list-item>
        </div>
          <v-subheader class="text-subtitle-2" style="position: relative; top: -25px">
            Favourites
          </v-subheader>
        <div style="position: relative; top: -25px">
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="blue--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Recruiting weekly memories</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="pink--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Website Launch</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="purple--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Rebranding video</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="yellow--text">mdi-chart-box-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="d-flex flex-row justify-space-between align-center text-body-1">
              <span>Marketing</span>
              <v-icon small>mdi-lock-outline</v-icon>
            </v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="red--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Email calendar</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="orange--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-truncate text-body-1">Website Design Request</v-list-item-title>
          </v-list-item>
          <v-list-item class="align-center" dense>
            <v-list-item-icon small class="ma-2">
              <v-icon class="light-green--text">mdi-square-medium</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-1">Customer Stories - Q4</v-list-item-title>
          </v-list-item>
        </div>
          <!--        button replacement-->
          <v-list-item class="align-center justify-center mt-5" dense>
            <div class="d-flex">
              <v-btn
                  large
                  outlined
                  text
                  block
              >
                <v-icon class="pr-2">mdi-account-plus-outline</v-icon>
                Invite teammates
              </v-btn>
            </div>
          </v-list-item>
          <!--        end button replacement-->
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";

@Component
export default class navigationDrawer extends Vue {
  route = "";

  get Routers() {
    return this.$router.options.routes;
  }

}
</script>

<style scoped>

</style>
