<template>
<div>
  <v-card class="d-flex flex-column" elevation="0" outlined>
    <v-card-title>My Tasks</v-card-title>
    <v-card-text>
      <Task task-title="Find a place for client meetings" task-sub="Project meeting" chip-color="pink" chip-text-color="white" task-time="00:15"></Task>
      <v-divider class="my-3"></v-divider>
      <Task task-title="Weekly summary send" task-sub="Report send" chip-color="" chip-text-color="gray" task-time="00:30"></Task>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CalendarItem from "@/components/myTasks/myCalendar/CalendarItem.vue";
import Task from "@/components/myTasks/myTasksComp/Task.vue";
@Component({
  components: {Task, CalendarItem}
})
export default class MyTasks extends Vue {

}
</script>

<style scoped>

</style>
