<template>
<div>
  <v-row>
    <v-col cols="10" class="justify-start">
      <div class="text-body-1 font-weight-bold black--text">{{taskTitle}}</div>
      <div class="d-flex flex-row align-center">
        <v-icon class="success--text" small>mdi-lightning-bolt</v-icon>
        <div class="text-subtitle-1 font-weight-medium">{{taskSub}}</div>
      </div>
      <v-chip x-small label :text-color="chipTextColor" :color="chipColor" class="font-weight-bold">{{taskTime}}</v-chip>
    </v-col>
    <v-col cols="2">
      <v-btn
          icon
          outlined
          plain
      x-small><v-icon x-small>mdi-check</v-icon></v-btn>
    </v-col>
  </v-row>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";
import CalendarItem from "@/components/myTasks/myCalendar/CalendarItem.vue";
@Component({
  components: {CalendarItem}
})
export default class Task extends Vue {
  @Prop()
  taskTitle!:string;
  @Prop()
  taskSub!:string;
  @Prop()
  chipTextColor!:string;
  @Prop()
  chipColor!:string;
  @Prop()
  taskTime!:string;
}
</script>

<style scoped>

</style>
