<template>
<div>
  <v-row class="align-center" dense>
    <v-col cols="1">
      <v-avatar size="33" >
        <slot name="avatar" ></slot>
      </v-avatar>
    </v-col>
    <v-col cols="5" class="d-flex flex-row align-center justify-space-between">
      <div class="d-flex flex-column">
        <div class="text-body-1 font-weight-bold black--text">{{memberTitle}}</div>
        <div class="text-subtitle-1 font-weight-medium">{{memberSub}}</div>
      </div>
      <div>
        <v-chip label x-small class="font-weight-medium">{{hour}}</v-chip>
      </div>
    </v-col>
    <v-col cols="6">
      <v-progress-linear rounded :value="value" color="success" height="16" background-color="white"></v-progress-linear>
    </v-col>
  </v-row>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";

@Component
export default class memberHours extends Vue {
  @Prop()
  hour!:string;
  @Prop()
  avatarSrc!:string;
  @Prop()
  value!:number;
  @Prop()
  memberTitle!:string;
  @Prop()
  memberSub!:string;

  get ImageSrc () {
    return this.avatarSrc
  }
}

</script>

<style scoped>

</style>
