<template>
<div>
  <v-card class="d-flex flex-column my-3" elevation="0" outlined>
    <v-card-title class="black--text">Team hours</v-card-title>
    <v-card-text>
      <member-hours  member-title="Kety McDunn" member-sub="Android" hour="32:00h" value="100">
        <template v-slot:avatar>
          <img src="@/assets/avatars/1-modified.png" alt="user_image">
        </template>
      </member-hours>
      <member-hours  member-title="Mona Smith" member-sub="IOS" hour="24:00h" value="75">
        <template v-slot:avatar>
          <img src="@/assets/avatars/2-modified.png" alt="">
        </template>
      </member-hours>
      <member-hours  member-title="Tiffany Doe" member-sub="UI/UX Design" hour="20:00h" value="60">
        <template v-slot:avatar>
          <img src="@/assets/avatars/3-modified.png" alt="">
        </template>
      </member-hours>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MemberHours from "@/components/myTasks/teamHours/memberHours.vue";
@Component({
  components: {MemberHours}
})
export default class teamHours extends Vue {

}

</script>

<style scoped>

</style>
