<template>
  <v-card elevation="0" outlined>
    <div class="d-flex justify-space-between align-center">
        <v-card-title class="black--text font-weight-bold">
        Incomplete task by section
      </v-card-title>
      <v-chip small  label color="chipBlue" class="d-flex lighten-4 justify-space-between pa-1 mr-4">
          <v-icon small color="chipBlue" class="pr-2">mdi-filter-variant</v-icon>
          <div class="chipBlue--text">2 Filter</div>
      </v-chip>
    </div>
    <v-card-text class="py-0">
      <canvas id="myChart" width="400" height="165"></canvas>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskCategory from "@/components/Dashboard/taskCategory.vue";
import {ChartType} from "chart.js";
import Chart from 'chart.js/auto';
@Component({
  components: {TaskCategory}
})
export default class IncompleteTasksAnalysis extends Vue {
  createChartData() {
    const canvas = document.getElementById('myChart') as HTMLCanvasElement;
    // const subLabel = {
    //   id = 'subLabel',
    //   afterDatasetsDraw(chart, args, pluginOptions) {
    //     const {ctx, chartArea: {left, right, top, bottom, width, height}} = chart;
    //     ctx.save();
    //     ctx.font = 'bolder 12px sans-serif';
    //     ctx.fillStyle = 'rgba(102, 102, 102, 1)';
    //     ctx.textAlign = 'center';
    //     ctx.fillText('Task count', width/4 + left, bottom);
    //   },
    //     };
    const config = {
      type: 'bar' as ChartType,
      data: {
        labels: ['Recurrent', 'New for', 'Content', 'Design'],
        datasets: [{
          barThickness: 14,
          data: [0, 4, 11, 2],
          backgroundColor: [
            '#e91e63',
            '#e91e63',
            '#e91e63',
            '#e91e63',
          ],
        }]
      },
      options: {
        layout: {
          padding:{
            bottom: 30,
          },
        },
        plugins: {
          legend: {
            display: false,
          },
        },
        scales: {
          y: {
            grid: {
              borderWidth: 0,
            },
            min: 0,
            max: 10,
            offset: false,
            beginAtZero: true,
            ticks:{
              stepSize: 5,
            },
          },
          x: {
            grid: {
              display: false,
              borderWidth: 0,
            },
          },
        }
      },
      // plugins: [subLabel]
    }
    new Chart(canvas , config);
  }
  mounted() {
    this.createChartData();
  }
}
</script>

<style scoped>

</style>
