<template>
  <v-card elevation="0" outlined class="pb-2 mb-3">
    <div class="d-flex flex-column">
      <v-card-title class="black--text font-weight-bold">
        Task completion over time
      </v-card-title>
      <v-card-subtitle class="d-flex">
        <v-chip label text-color="white" x-small color="#5C4E79" class="my-1 mr-2">Completed</v-chip>
        <v-chip label text-color="white" x-small color="#C895EF" class="my-1">Incomplete</v-chip>
      </v-card-subtitle>
      <v-card-text class="py-0">
        <canvas id="lineChart" width="400" height="100"></canvas>
      </v-card-text>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskCategory from "@/components/Dashboard/taskCategory.vue";
import {ChartType} from "chart.js";
import Chart from "chart.js/auto";
@Component({
  components: {TaskCategory}
})
export default class TaskCompletionOverTime extends Vue {
  createChartData() {
    const canvas = document.getElementById('lineChart') as HTMLCanvasElement;
    const config = {
      type: 'line' as ChartType,
      data: {
        labels: ['1', '2', '3','4','5','6','7','8','9','10','11','12'],
        datasets: [{
          data: [0, 3, 6, 7.5, 7, 5, 4, 5, 7,10,9,8],
          fill: true,
          borderColor: '#5C4E79',
          backgroundColor: '#5C4E79',
          tension: 0.1,
        },
          {
            data: [0, 4, 8, 8.5, 6, 5.5, 6, 10, 11.5,10.5,10,11],
            fill: true,
            borderColor: '#C895EF',
            backgroundColor: '#C895EF',
            tension: 0.1,
          },
        ],
      },
      options: {
        elements: {
          point:{
            radius: 0
          }
        },
        plugins: {
          labels: {
            display: false,
          },
          legend: {
            display: false,
          },
        },
        scales: {
          y: {
            ticks:{
              stepSize: 5,
            },
            min: 0,
            max: 12,
            grid: {
              borderWidth: 0,
            },
          },
          x:{
            ticks:{
              display: false,
            },
            grid:{
              borderWidth: 0,
              lineWidth: 0,
            },
          },
        },
        offset: false,
      },

    }
    new Chart(canvas , config);
  }

  mounted() {
    this.createChartData();
  }
}
</script>

<style scoped>

</style>
