<template>
  <v-card elevation="0" outlined>
    <div class="d-flex justify-space-between align-center">
      <v-card-title class="black--text font-weight-bold">
        All tasks by completion status
      </v-card-title>
      <v-chip small  label  class="d-flex justify-space-between pa-1 mr-4">
        <v-icon small class="pr-2">mdi-filter-variant</v-icon>
        <div>1 Filter</div>
      </v-chip>
    </div>
    <v-card-text class="pt-0">
      <v-row style="text-align: center; min-height: 150px">
        <v-col cols="12" md="6" >
          <v-progress-circular
              :rotate="-90"
              :size="170"
              :width="22"
              :value="75"
              color="darkPurple"
          >
            <span class="progress-font">107</span>
          </v-progress-circular>
        </v-col>
        <v-col cols="12" md="6" class="d-flex align-content-space-between px-0">
            <div class="align-start d-flex">
              <v-card outlined elevation="2" width="120px" style="border-color: #5C4E79;">
                <v-row class="justify-center ma-2 text-h4 font-weight-black darkPurple--text"><div>75%</div></v-row>
                <v-divider></v-divider>
                <v-row class="justify-center text-body-1 custom-background-1 align-center" style="min-height: 30px; margin: -1px"> <div>Completed</div></v-row>
              </v-card>
            </div>
            <div class="align-end d-flex">
              <v-card outlined elevation="2" width="120px" style="border-color: #C895EF; right: 30px; bottom: 5px">
                <v-row class="justify-center ma-2 text-h4 font-weight-black lightPurple--text" ><div>25%</div></v-row>
                <v-divider></v-divider>
                <v-row class="justify-center text-body-1 custom-background-2 align-center font-weight-bold" style="min-height: 30px;margin: -1px"> <div>Incomplete</div></v-row>
              </v-card>
            </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskCategory from "@/components/Dashboard/taskCategory.vue";
@Component({
  components: {TaskCategory}
})
export default class TasksByCompletion extends Vue {}
</script>

<style scoped>
.progress-font{
  font-size: 3.875rem;
  font-weight: 600;
}
.custom-background-1{
  color: white!important;
  background-color: #5C4E79;
}
.custom-background-2{
  color: black!important;
  background-color: #C895EF;
}
.v-progress-circular__underlay{
  stroke: #C895EF!important;
}
</style>
