<template>
  <v-col cols="6" md="3">
    <v-card elevation="0" outlined>
      <v-card-title class="black--text font-weight-bold">
        {{taskTitle}}
      </v-card-title>
      <v-card-text class="d-flex justify-space-between align-end">
        <div>
          <div class="text-h6 font-weight-black black--text">{{taskNum}}</div>
          <div class="text-subtitle-1 secondary--text">Task count</div>
        </div>
        <v-chip small  label :color="filterColor" class="d-flex lighten-4 justify-space-between pa-1" :text-color="filterColor">
          <v-icon small :color="filterColor" class="pr-2">mdi-filter-variant</v-icon>
          <div>1Filter</div>
        </v-chip>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script lang="ts">
import {Component,Prop, Vue} from "vue-property-decorator";

@Component
export default class App extends Vue {
  @Prop()
  taskTitle!:string;
  @Prop()
  taskNum!:string;
  @Prop()
  filterColor!:string;

}
</script>

<style scoped>

</style>
