<template>
  <v-card elevation="0" outlined class="pb-2 mb-3">
    <div class="d-flex flex-column">
      <v-card-title class="black--text font-weight-bold">
        Upcoming tasks by assignee
      </v-card-title>
      <v-card-text class="py-0">
        <canvas id="horizonBarChart" width="400" height="120"></canvas>
      </v-card-text>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskCategory from "@/components/Dashboard/taskCategory.vue";
import {ChartType} from "chart.js";
import Chart from 'chart.js/auto';
import {color} from "chart.js/helpers";
@Component({
  components: {TaskCategory}
})
export default class UpcomingbyAssignee extends Vue {
  createChartData() {
    const canvas = document.getElementById('horizonBarChart') as HTMLCanvasElement;
    const config = {
      type: 'bar' as ChartType,
      data: {
        labels: ['Mary', 'Sam', 'Emma'],
        datasets: [{
          barThickness: 14,
          data: [8, 11, 13],
          backgroundColor: [
            '#584BBE',
            '#21B07C',
            '#FF8800',
          ],
        }]
      },
      options: {
        // indexAxis: 'y',
        plugins: {

          legend: {
            display: false,
          },
        },
        scales: {
          y: {
            grid: {
              borderWidth: 0,
              lineWidth: 0,
            },
          },
          x:{
            min: 0,
            max: 15,
            ticks:{
              stepSize: 5,
            },

            grid:{
              borderWidth: 0,
            },
          },
        },
        offset: false,
      },

    }
    new Chart(canvas , config);
  }

  mounted() {
    this.createChartData();
  }
}
</script>

<style scoped>

</style>
