<template>
<div>
  <v-card elevation="0" outlined>
    <v-card-title class="black--text">My Projects</v-card-title>
    <v-card-text>
      <Project folder-color="pink" project-title="Airaa by Captive Inc." project-sub="Captive Inc." project-date="8thJan2021" project-state="On Hold" state-color="pink"></Project>
      <v-divider class="my-3"></v-divider>
      <Project folder-color="primary" project-title="Ways App by Concept LLC" project-sub="Concept LLC" project-date="8thJan2021" project-state="In Progress" state-color="success"></Project>
      <v-divider class="my-3"></v-divider>
      <Project folder-color="primary" project-title="Tuya by Fineline Inc." project-sub="Fineline Inc." project-date="8thJan2021" project-state="Pending" state-color="yellow"></Project>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProgressManagement from "@/components/myTasks/TaskSummary/TaskSummary.vue";
import MyCalendar from "@/components/myTasks/myCalendar/MyCalendar.vue";
import Project from "@/components/myTasks/myProjects/Project.vue";
@Component({
  components: {Project, MyCalendar, ProgressManagement}
})
export default class MyProjects extends Vue {

}

</script>

<style scoped>

</style>
