<template>
<div>
  <v-row class="justify-start">
    <v-col cols="2"><v-icon :color="folderColor" large>mdi-folder-open-outline</v-icon></v-col>
    <v-col cols="7">
      <div class="font-weight-bold black--text text-body-1">{{projectTitle}}</div>
      <div class="text-subtitle-1 font-weight-medium">{{projectSub}}</div>
      <v-chip label x-small>{{projectDate}}</v-chip>
    </v-col>
    <v-col cols="3" class="d-flex justify-end">
      <v-chip :color="stateColor" label text-color="white" x-small>{{projectState}}</v-chip>
    </v-col>
  </v-row>
</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import ProgressManagement from "@/components/myTasks/TaskSummary/TaskSummary.vue";
import MyCalendar from "@/components/myTasks/myCalendar/MyCalendar.vue";
@Component({
  components: {MyCalendar, ProgressManagement}
})
export default class Project extends Vue {
  @Prop()
  folderColor!:string;
  @Prop()
  projectTitle!:string;
  @Prop()
  projectSub!:string;
  @Prop()
  projectDate!:string;
  @Prop()
  projectState!:string;
  @Prop()
  stateColor!:string;

}

</script>

<style scoped>

</style>
