<template>
  <v-app>
    <navigation-drawer></navigation-drawer>
    <appbar></appbar>
    <v-main app>
      <div style="margin: 0 20px;">
        <router-view/>
      </div>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import NavigationDrawer from "@/components/base/navigationDrawer.vue";
import Appbar from "@/components/base/appbar.vue";
@Component({
  components: {Appbar, NavigationDrawer}
})
export default class App extends Vue {
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 11px!important;
}


</style>
