<template>
<div>
  <v-card elevation="0" outlined>
    <v-card-text class="pa-3">
      <v-row class="align-center justify-center">
        <v-col cols="12" md="5" class="d-flex justify-center">
          <v-progress-circular
              :rotate="-90"
              :size="55"
              :width="7"
              :value="value"
              :color="barColor"
          >
            <span class="progress-font">{{ value }}</span>
          </v-progress-circular>
        </v-col>
        <v-col cols="12" md="7" class="d-flex flex-column pa-0">
          <div class="text-md-h5 text-sm-h6 font-weight-black black--text">{{mainTitle}}</div>
          <div class="text-md-subtitle-1 text-sm-subtitle-2 font-weight-bold">{{subtitle}}</div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";
@Component
export default class TaskSummary extends Vue {
  @Prop()
  value!:number;
  @Prop()
  mainTitle!:string;
  @Prop()
  subtitle!:string;
  @Prop()
  barColor!:string;
}
</script>

<style scoped>
.progress-font{
  font-size: 1.1rem;
  font-weight: 600;
}
</style>
