<template>
  <div>
    <v-row>
      <v-col cols="6" md="3"><TaskSummary main-title="21:15 h" subtitle="Duration Week" value="71%" bar-color="success"></TaskSummary></v-col>
      <v-col cols="6" md="3"><TaskSummary main-title="754.7 k" subtitle="Income (Actual)" value="71%" bar-color="pink"></TaskSummary></v-col>
      <v-col cols="6" md="3"><TaskSummary main-title="42" subtitle="Monthly Leads" value="48%" bar-color="yellow"></TaskSummary></v-col>
      <v-col cols="6" md="3"><TaskSummary main-title="76.5 k" subtitle="Outstanding Invoices" value="75%" bar-color="primary"></TaskSummary></v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskSummary from "@/components/myTasks/TaskSummary/TaskSummary.vue";


@Component({
  components: {TaskSummary}
})
export default class TaskSummaries extends Vue {
}
</script>

<style scoped>

</style>
