<template>
 <div>
   <v-row class="align-start" dense>
     <v-col cols="2">
       <v-chip color="pink" label x-small class="ma-1 pa-2 font-weight-bold" text-color="white">{{startTask}}</v-chip>
       <v-chip label x-small class="ma-1 pa-2 font-weight-bold">{{endTask}}</v-chip>
     </v-col>
     <v-col cols="7">
       <div class="text-h6 black--text">{{taskTitle}}</div>
       <div class="d-flex flex-row align-center">
         <v-icon class="success--text" small>mdi-lightning-bolt</v-icon>
         <div class="font-weight-medium">{{taskSub}}</div>
       </div>
     </v-col>
     <v-col cols="3">
       <div class="mr-3" style="position: relative; right: -20px;">
         <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 52px;"><img :src="require('@/assets/avatars/1-modified.png')" alt="user-b"></v-avatar>
         <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 32px;"><img :src="require('@/assets/avatars/2-modified.png')" alt="user-c"></v-avatar>
         <v-avatar size="28" style="border: 1px solid white; position: absolute;right: 12px;"><img :src="require('@/assets/avatars/3-modified.png')" alt="user-d"></v-avatar>
       </div>
     </v-col>
   </v-row>
 </div>
</template>

<script lang="ts">
import { Component,Prop, Vue } from "vue-property-decorator";
@Component
export default class CalendarItem extends Vue {
  @Prop()
  startTask!:string;
  @Prop()
  endTask!:string;
  @Prop()
  taskTitle!:string;
  @Prop()
  taskSub!:string;
}
</script>

<style scoped>

</style>
