<template>
  <div>
    <v-card class="d-flex flex-column mb-3" elevation="0" outlined>
      <v-card-title class="font-weight-bold">My Calendar</v-card-title>
      <v-card-subtitle class="text-h6 font-weight-bold black--text py-2">Monday, 14,10</v-card-subtitle>
      <v-card-text class="pb-2">
        <CalendarItem start-task="13:00" end-task="14:00" task-title="Weekly catch-up" task-sub="1-On-1 meeting"></CalendarItem>
        <v-divider class="my-3"></v-divider>
        <CalendarItem start-task="15:00" end-task="16:00" task-title="Project Progress Meeting" task-sub="Project meeting"></CalendarItem>
      </v-card-text>
      <v-card-subtitle class="text-h6 font-weight-bold black--text py-2">Monday, 15,10</v-card-subtitle>
      <v-card-text class="pb-2"><CalendarItem start-task="13:00" end-task="14:00" task-title="Weekly catch-up" task-sub="1-On-1 meeting"></CalendarItem>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CalendarItem from "@/components/myTasks/myCalendar/CalendarItem.vue";
@Component({
  components: {CalendarItem}
})
export default class MyCalendar extends Vue {

}
</script>

<style scoped>

</style>
